.pagebreak {
		margin: 1rem 0;
	}

	.fr-class-highlighted {
		background-color: rgb(255, 255, 0);
	}

	.fr-class-code {
		border-color: rgb(204, 204, 204);
    border-radius: 2px;
    background: rgb(245, 245, 245);
    padding: 10px;
    font-family: "Courier New", Courier, monospace;
	}

	.fr-class-transparency {
		opacity: 0.5;
	}
	